{{ define "main" }}

<!-- Why Taiga -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 featured-post">
        {{ with .Site.GetPage "/why-taiga" }}
        <article class="card featured-post">
          <div class="row no-gutters align-items-center">
            <div class="col-md-5">
              {{ if .Params.Thumbnail }}
              <img src="{{ .Params.Thumbnail | absURL }}" class="card-img" alt="{{ .Title | markdownify }}">
              {{ else }}
              <img src="{{ .Params.Image | absURL }}" class="card-img" alt="{{ .Title | markdownify }}">
              {{ end }}
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="card-body">
                <a href="{{ .Permalink }}"
                  class="h1 font-weight-bold d-block text-dark mb-4 card-title">{{ .Title | markdownify }}</a>
                <p class="card-text">{{.Summary}}...</p>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /why taiga -->

<!-- Getting started, 30min setup and contributions -->
<section>
  <div class="container">
    <div class="row">
      {{ with .Site.GetPage "/getting-started" }}
      <div class="col-lg-4 small-post-border">
        <article class="media">
          {{ if .Params.Thumbnail }}
          <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Thumbnail | absURL }}');"></div>
          {{ else }}
          <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Image | absURL }}');"></div>
          {{ end }}
          <div class="media-body">
            <div class="mb-3 post-meta">
            </div>
            <a href="{{ .Permalink }}" class="h5 d-block mb-3">{{ .Title | markdownify }}</a>
            <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
          </div>
        </article>
      </div>
      {{ end }}
      {{ with .Site.GetPage "/30min-setup" }}
      <div class="col-lg-4 small-post-border">
        <article class="media">
          {{ if .Params.Thumbnail }}
          <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Thumbnail | absURL }}');"></div>
          {{ else }}
          <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Image | absURL }}');"></div>
          {{ end }}
          <div class="media-body">
            <div class="mb-3 post-meta">
            </div>
            <a href="{{ .Permalink }}" class="h5 d-block mb-3">{{ .Title | markdownify }}</a>
            <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
          </div>
        </article>
      </div>
      {{ end }}
      {{ with .Site.GetPage "/extend-taiga" }}
      <div class="col-lg-4 small-post-border">
        <article class="media">
          {{ if .Params.Thumbnail }}
          <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Thumbnail | absURL }}');"></div>
          {{ else }}
          <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Image | absURL }}');"></div>
          {{ end }}
          <div class="media-body">
            <div class="mb-3 post-meta">
            </div>
            <a href="{{ .Permalink }}" class="h5 d-block mb-3">{{ .Title | markdownify }}</a>
            <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /getting started, 30min setup and contributions -->

<!-- Main Features -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {{ range sort (where (where .Site.RegularPages "Type" "feature") ".Params.main" "==" true) ".Params.order" }}
          <div class="col-md-6 mb-4">
            <article class="card">
              {{ if .Params.Thumbnail }}
              <img src="{{ .Params.Thumbnail | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
              {{ else }}
              <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
              {{ end }}
              <div class="card-body px-0">
                {{ range .Params.Categories }}
                <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
                  class="text-primary">{{ . | title | humanize }}</a>
                {{ end }}
                <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
                <div class="mb-3 post-meta">
                </div>
                <p class="card-text">{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
      </div>
      <!-- faqs sidebar -->
      {{ partial "sidebar.html" . }}
      <!-- /faqs sidebar -->
    </div>
  </div>
</section>
<!-- /main features -->

{{ end }}
