<div class="col-md-6 mb-4">
    <article class="card">
        <img src="{{ .Params.url | absURL }}/images/whytaiga_test01.jpg" class="card-img-top" alt="{{ humanize .Title | markdownify }}">
        <div class="card-body px-0">
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ humanize .Title | markdownify }}</a>
        <div class="mb-3 post-meta">
        </div>
        <p class="card-text">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
        </div>
    </article>
</div>