<div class="col-lg-4">
  <!-- category -->
  <div class="widget">
    <h4 class="widget-title">Category</h4>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  <!-- faq -->
  <div class="widget">
    {{ with .Site.GetPage "/faq" }}
    <h4 class="widget-title">{{ .Title | markdownify }}</h4>
    <p>{{ .Summary }}</p>
    <a href="{{ .Permalink }}" class="btn btn-outline-primary">Know More</a>
    {{ end }}
  </div>
</div>
