<div class="col-lg-4">
  <!-- category -->
  <div class="widget">
    <h4 class="widget-title">Category</h4>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  <!-- faq -->
  <div class="widget">
    {{ with .Site.GetPage "/faqs" }}
    <h4 class="widget-title">FAQ</h4>
    <ul class="list-unstyled">
      {{ range sort (where (where .Site.RegularPages "Type" "faq") ".Params.main" "==" true) ".Params.order" }}
      <li><a
          href="{{ `faqs/` | relLangURL }}#{{ .Params.Slug }}">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
    <a href="{{ .Permalink }}" class="btn btn-outline-primary">See All FAQs</a>
    {{ end }}
  </div>
</div>
